.border-dashed {
  border: 1px dashed red;
}

/* HEADER NAVBAR */
#header {
  height: 80px;
  /* border: 1px dashed red; */
  line-height: 40px;
}

.logo-mob {
  width: 50px;
}

.bell_color {
  color: #e39631;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  position: absolute;
  left: auto;
  right: 0;
}

/* SIDEBAR */
#sidebar {
  height: calc(100vh - 80px);
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.sidebar-btn {
  height: calc(100vh - 80px);
}

.side_btn:hover {
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.5);
}

.admin {
  margin-top: auto;
}

/* MAIN CONTENT */
#main {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 80px);
  background-color: #f7f7f7;
}

.badge_bool {
  background-color: #4050b5;
}

.code_box {
  background-color: #f26551;
}

.first_table {
  width: 40%;
}

tr:hover td {
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.5);
}

.img_stats {
  width: 100%;
}

#main-bar {
  background-color: #1b72e8;
}

.offcanvas.offcanvas-end {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    width: 60%;
  }
}
