.border-dashed {
  border: 1px dashed red;
}

#header {
  height: 80px;
  border: 1px dashed red;
}

#sidebar {
  height: calc(100vh - 80px);
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.sidebar-btn {
  height: calc(100vh - 80px);
}

.admin {
  margin-top: auto;
}

#main {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 80px);
}

#main-bar {
  background-color: #1b72e8;
}
