.border-dashed {
  border: 1px dashed red;
}

/* HEADER NAVBAR */
#header {
  height: 80px;
  /* border: 1px dashed red; */
  line-height: 40px;
}

.logo-mob {
  width: 50px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  position: absolute;
  left: auto;
  right: 0;
}

/* SIDEBAR */
#sidebar {
  height: calc(100vh - 80px);
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.sidebar-btn {
  height: calc(100vh - 80px);
}

.admin {
  margin-top: auto;
}

/* MAIN CONTENT */
#main {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 80px);
}

.code_box {
  background-color: #f26551;
}

.img_stats {
  width: 100%;
}

#main-bar {
  background-color: #1b72e8;
}

.offcanvas.offcanvas-end {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    width: 60%;
  }
}
